form{
    width: 60%;
    border: solid 1px;
    margin-left: 10%;
    margin-top: 1%;
}

input{
    padding: 12px 5px;
    width: 95%;
    border: solid 1px rgb(194, 15, 15);
    border-radius: 5px;
    margin: 2% 0;
}
button{
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: rgb(14, 108, 14);
    color: #ffffff;
    cursor: pointer;
    width: 97%;
}