.users-details{
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-gap: 6%;
    padding-left: 100px;
}
.users-details h2{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    columns: blue;
}
.users-details .user-card{
    grid-row: auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
}
.users-details .user-card img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin-bottom: 10px;
}
.users-details .user-card h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}